body {
    text-align: center;
    background-color: white;
    font-family: Helvetica, sans-serif;
}

header {
    background-image:url(Images/the-flatiron-building.png);
    background-repeat: no-repeat;
    background-size:cover;
    
}

header ul {
    list-style: none;
}

header li {
    color: white;
    
}
h1 {
    font-weight: bold;
    font-size: 70px;
    color: white;
}
 
h2 {
    color:white;
    font-size:32px;
    font-weight: bold;
}

h3 {
    font-size: 23px;
}


p {
    font-size: 14px;
}

.background {
    background-image:url(Images/the-flatiron-building.png);
    background-size:cover;
}

footer {
    text-align: left;
    background-color: dimgray;
    color: white;
}

footer a:link {
    color: white;
}